.featuredBooks {
  margin-top: 135px;
  text-align: center;
  width: 100%;
}

.featuredBooks h2 {
  color: #131c2f;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 48px;
  margin-bottom: 5px;
}

.featuredBooks h2 > span {
  color: #f7cc50;
}
.featuredBooks p {
  font-size: 1.5rem;
  font-family: "EB Garamond";
  font-style: normal;
  margin-top: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

@media (min-width: 320px) and (max-width: 375px) {
  .featuredBooks {
    width: 28rem;
  }

  .featuredBooks p {
    width: 90%;
    text-align: center;
  }

  .gridContainer {
    width: 100%;
    margin-left: 28%;
    padding-top: 40px;
  }

  .gridContainer h4 {
    text-align: center;
  }
  .gridContainer p {
    text-align: center;
  }
}
