@import "../../App.css";

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container h2 {
  display: inline-block;
  font-size: 34px;
  font-weight: 700;
  color: var(--blackish);
}

.container p {
  justify-self: end;
  align-self: center;
}
