.container {
  width: 100%;
  min-width: max-content;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #131c2f;
}
