:root {
  --color-whitish: #e5e5e5;
  --color-blackish: #131c2f;
  --color-purple: #6d64c7;
  --color-yellow: #f7cc50;
  --color-darkGray: #7d8490;
  --color-lightGray: #f4f7fc;
  --color-green: #a6c95b;
  --color-red: #eb5757;
  --color-lightBlue: #6ea1f0;
  --color-lightGreen: #91f7b2;
  --color-faintYellow: #f7cc5033;
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  height: max-content !important;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
