.textContainer h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2px;
}

.textContainer h1 span {
  color: #f7cc50;
}

.textContainer p {
  font-family: "EB Garamond";
  font-size: 20px;
  font-weight: 500;
  width: 80%;
}

.imageContainer img {
  width: 90%;
}
