.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer p {
  width: 50%;
  display: inline-block;
  font-size: 12px;
  padding-bottom: 30px;
}

.icons {
  width: 40%;
  display: inline-block;
  padding-bottom: 30px;
  float: right;
}

.icons img {
  padding-top: 4px;
  padding-right: 6%;
  float: right;
}

.colorBar {
  width: 100%;
  height: 1em;
  border-radius: 10px 10px 0px 0px;
  background-color: #f7cc50;
  position: absolute;
  bottom: 0;
  top: auto;
}
