.header {
  width: 100%;
  padding-top: 20px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 15% 60% 25%;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 10;
}

.logo {
  justify-self: start;
  padding-left: 25%;
}

.logo img {
  height: 45px;
  width: 45px;
}

.regButtons {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.regButtons a {
  display: inline-block;
  text-decoration: none;
  color: #131c2f;
  padding-right: 10%;
  position: relative;
}

.regButtons a::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #6d64c7;
  position: absolute;
  bottom: -20px;
  left: 22%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2 ease-in-out;
}

.regButtons a:focus:after,
.regButtons a:active:after {
  opacity: 1;
}
