.navBar {
  padding-top: 60px;
  margin-left: -2%;
  width: 100%;
  text-align: center;
  background-color: white;
  z-index: 9;
  position: fixed;
}

.navBar ul {
  list-style: none;
  padding: 0%;
}

.navBar ul li {
  font-size: 0.85rem;
  font-weight: 600;
  display: inline-block;
  padding: 1em;
}

.navBar ul li a {
  color: #7d8491;
  text-decoration: none;
  position: relative;
}

.navBar ul li a:hover {
  color: black;
  text-decoration: none;
}

.navBar ul li a::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #6d64c7;
  position: absolute;
  bottom: -15px;
  left: 45%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2 ease-in-out;
}

.navBar ul li a:focus:after,
.navBar ul li a:active:after {
  opacity: 1;
}

.navBar ul li a:active {
  color: black!;
}
